.horizontal-padding {
  padding-left: 25px;
  padding-right: 25px;
}
.vertical-padding {
  padding-top: 25px;
  padding-bottom: 25px;
}

@media (min-width: 950px) {
  .horizontal-padding {
    padding-left: 70px;
    padding-right: 70px;
  }
  .vertical-padding {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.profile {
  text-align: center;
}

@media (min-width: 950px) {
  .profile {
    text-align: left;
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    align-items: center;
  }
}
