:root {
  --theme-color: white;
  --primary-color: #337ab7;
  --secondary-color: #f7c331;
  --text-color-inverse: white;
  --text-color: #404040;
  --navbar-shallow-color: #e5e5e5;
  --menu-mobile-background-color: #3a4460;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--theme-color);
  color: var(--text-color);
  padding-top: 0px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
